<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ catalogo.filme }}</title>
</head>
<body>
    <h1> {{ catalogo.filme }}</h1>
    <br><p> {{ catalogo.ano }}</p>
    <br><p> {{ catalogo.diretor }}</p>
    <br><p> {{ catalogo.comentarios }}</p>
    <br><br><form action="{% url 'update' catalogo.id %}"><input type="submit" value="Update" /></form>
    <br><form action="{% url 'home' %}"><input type="submit" value="Back" /></form>
</body>
</html>